{% extends "basefront.html.twig" %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}
{% block body %}
<h1 class="neonText">Tableau des Quêtes</h1>
<table class="table table-hover table-borderless">
    <thead>
        <tr>
            <th scope="col" class="neonText">
                Quêtes
            </th>
            <th scope="col" class="neonText">Fait</th>
            <th scope="col" class="neonText">
                Xp
                <a href="{{ path('quetes.tri', {champ:'xpValue', ordre:'ASC'}) }}" class="btn btn-info btn-sm active"
                    role="button" aria-pressed="true">▲</a>
                <a href="{{ path('quetes.tri', {champ:'xpValue', ordre:'DESC'}) }}" class="btn btn-info btn-sm active"
                    role="button" aria-pressed="true">▼</a>
            </th>

            <th scope="col" class="neonText">
                Rank
                <a href="{{ path('quetes.tri', {champ:'qrank', ordre:'ASC'}) }}" class="btn btn-info btn-sm active"
                    role="button" aria-pressed="true">▲</a>
                <a href="{{ path('quetes.tri', {champ:'qrank', ordre:'DESC'}) }}" class="btn btn-info btn-sm active"
                    role="button" aria-pressed="true">▼</a>
            </th>
            <th class="neonText">
                Category
                <form method="POST" action="{{ path('quetes.filtre', {champ:'category'}) }}">
                    <div class="input-group">
                        <select class="form-control" name="recherche" style="width: 50px;">
                            <option value="">All</option>
                            <option value="Sport">Sport</option>
                            <option value="Intelligence">Intelligence</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit" tabindex="-1">Confirmer</button>
                        </span>
                    </div>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>
                <a id="taskname" href="#" class="neonText open-modal" data-task-id="{{ task.id }}"
                    data-task-xp="{{ task.xpvalue }}" data-task-category="{{ task.category }}">
                    <h5>{{ task.name }}</h5>
                </a>
            </td>
            <td>
                <form method="POST" action="{{path('task.update', {id: task.id})}}">
                    <input type="checkbox" name="isCompleted" value="1" {% if task.iscompleted %} checked {% endif %}
                        onchange="this.form.submit()">
                </form>
            </td>
            <td class="neonText">
                <strong>{{ task.xpvalue }}</strong>
            </td>
            <td class="neonText">
                {% if task.qrank == 7 %} SS
                {% elseif task.qrank == 6 %} S
                {% elseif task.qrank == 5 %} A
                {% elseif task.qrank == 4 %} B
                {% elseif task.qrank == 3 %} C
                {% elseif task.qrank == 2 %} D
                {% elseif task.qrank == 1 %} E
                {% endif %}
            </td>
            <td class="neonText">{{ task.category }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}