{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block top %}

<div class="container">
    <!-- Title -->
    <div class="text-center">
        <h1>Leveling</h1>
        <p>Bienvenue Joueur</p>
    </div>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="navbar-brand neonText" href="{{ path('accueil') }}">
                    Accueil
                </a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('quetes') }}">
                        <h5 class="neonText">Quêtes</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('status') }}">
                        <h5 class="neonText">Status</h5>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}